<%= render "head" %>
<%= render "left" %>
<p id="notice"><%= notice %></p>



<div class="content">

  <div class="container-fluid">
    <div id="pad-wrapper">
<div class="table-wrapper products-table">
  <div class="row-fluid head">
    <div class="span12">

<table class="table table-hover">
  <thead>
    <tr>
      <th class="span5">Compan</th>
      <th class="span5">Buslicen</th>
      <th  class="span2">process</th>

    </tr>
  </thead>

  <tbody>
    <% @companylicens.each do |companylicen| %>
      <tr>
        <td><%= companylicen.compan_id %></td>
        <td><%= companylicen.buslicen %></td>

        <td><%= link_to 'Show', companylicen %>
        <%= link_to 'Edit', edit_companylicen_path(companylicen) %>
        <%= link_to 'Destroy', companylicen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
      <%= link_to 'New Companylicen', new_companylicen_path,class:"pull-right" %>
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>


