<p id="notice"><%= notice %></p>

<p>
  <strong>Compan:</strong>
  <%= @companylicen.compan_id %>
</p>

<p>
  <strong>Buslicen:</strong>
  <%= @companylicen.buslicen %>
</p>

<p>
  <strong>Finastate:</strong>
  <%= @companylicen.finastate %>
</p>

<p>
  <strong>Qualicert:</strong>
  <%= @companylicen.qualicert %>
</p>

<p>
  <strong>Orgchart:</strong>
  <%= @companylicen.orgchart %>
</p>

<p>
  <strong>Safelicen:</strong>
  <%= @companylicen.safelicen %>
</p>

<p>
  <strong>Forconmanquacert:</strong>
  <%= @companylicen.forconmanquacert %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @companylicen.statut %>
</p>

<p>
  <strong>Threesyscert:</strong>
  <%= @companylicen.threesyscert %>
</p>

<p>
  <strong>Taxcert:</strong>
  <%= @companylicen.taxcert %>
</p>

<p>
  <strong>Creditrat:</strong>
  <%= @companylicen.creditrat %>
</p>

<p>
  <strong>Finastatement:</strong>
  <%= @companylicen.finastatement %>
</p>

<p>
  <strong>Orgcode:</strong>
  <%= @companylicen.orgcode %>
</p>

<p>
  <strong>Nolitproof:</strong>
  <%= @companylicen.nolitproof %>
</p>

<p>
  <strong>Nobankcert:</strong>
  <%= @companylicen.nobankcert %>
</p>

<p>
  <strong>Comcontract:</strong>
  <%= @companylicen.comcontract %>
</p>

<p>
  <strong>Other:</strong>
  <%= @companylicen.other %>
</p>

<p>
  <strong>Certofaward:</strong>
  <%= @companylicen.certofaward %>
</p>

<%= link_to 'Edit', edit_companylicen_path(@companylicen) %> |
<%= link_to 'Back', companylicens_path %>
