<p id="notice"><%= notice %></p>



<p>
  <strong>Buslicen:</strong>
  <%= @companylicen.buslicen %>
</p>

<p>
  <strong>Finastate:</strong>
  <%= @companylicen.finastate %>
</p>

<p>
  <strong>Qualicert:</strong>
  <%= @companylicen.qualicert %>
</p>

<p>
  <strong>Orgchart:</strong>
  <%= @companylicen.orgchart %>
</p>

<p>
  <strong>安全许可证:</strong>
  <%= image_tag @companylicen.safelicen.url %>
</p>

<p>
  <strong>对外承包经营资格证证:</strong>

  <%= image_tag @companylicen.forconmanquacert.url %>
</p>

<p>
  <strong>章程:</strong>

  <%= image_tag @companylicen.statut.url %>

</p>

<p>
  <strong>三体系证书:</strong>

  <%= image_tag @companylicen.threesyscert.url %>
</p>

<p>
  <strong>税务证:</strong>

  <%= image_tag @companylicen.taxcert.url %>
</p>

<p>
  <strong>信用等级证:</strong>

  <%= image_tag @companylicen.creditrat.url %>
</p>

<p>
  <strong>财务报表:</strong>

  <%= image_tag @companylicen.finastatement.url %>
</p>

<p>
  <strong>组织机构代码证:</strong>

  <%= image_tag @companylicen.orgcode.url %>
</p>

<p>
  <strong>无诉讼证明:</strong>

  <%= image_tag @companylicen.nolitproof.url %>
</p>

<p>
  <strong>未破产证明:</strong>

  <%= image_tag @companylicen.nobankcert.url %>
</p>

<p>
  <strong>公司简介:</strong>
  <%= @companylicen.comcontract %>
</p>

<p>
  <strong>其它:</strong>
  <%= @companylicen.other %>
</p>

<p>
  <strong>获奖证书:</strong>

  <%= image_tag @companylicen.certofaward.url %>
</p>

<%= link_to 'Edit', edit_companylicen_path(@companylicen) %> |
<%= link_to 'Back', companylicens_path %>
