<div class="container-fluid">
  <div id="pad-wrapper" class="form-page">
    <div class="row-fluid form-wrapper">
      <!-- left column -->
      <div class="span8 column">
        <%= form_for(@admin) do |f| %>
            <div class="field-box">
              <label>姓名:</label>
              <%= f.text_field :username, class:"span8" %>
            </div>

            <div class="field-box">
              <label>帐号:</label>
              <%= f.text_field :login, class:"span8" %>
            </div>

            <div class="field-box">
              <label>密码:</label>
              <%= f.password_field :password, class:"span8" %>
            </div>

            <div class="field-box">
              <label>确认密码:</label>
              <%= f.password_field :password_confirmation, class:"span8" %>
            </div>


            <label></label>
            <%= f.button :"确定", class:"btn btn-primary" %>
            </div>

        <% end %>
        </div>
  </div>
</div>