<%= render 'head' %>

<%= render 'left' %>
<div class="container fluid-height clearfix">
  <p id="notice"><%= notice %></p>
  <h2 class="heading">管理员设置</h2>
  <br/>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th>用户名</th>
        <th>登录名</th>
        <th>密码</th>
        <th>操作</th>
      </tr>
      </thead>
      <% @admins.each do |admin| %>
          <tr>
            <td width="30px"><i class="icon-user"></i></td>
            <td class="hidden-xs"><%= admin.username %></td>
            <td><%= admin.login %></td>
            <td>******</td>
            <% if admin.login  != 'admin' %>
                <td width="100px" align="center"><%= link_to "", edit_admin_path(admin),  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
                  <%= link_to '', admin, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
            <% else %>
                <td width="100px" align="center"><%= link_to "", edit_admin_path(admin),  class:"icon-pencil usricons", title: "编辑" %></td>
            <% end %>
          </tr>
      <% end %>

    </table>

    <br>



    <%= link_to ' 创建管理员', new_admin_path, class: "icon-plus btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
  </div>
</div>