<script type="text/javascript" language="javascript">
    function readURL(input,imgid) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.'+imgid)
                        .attr('src', e.target.result)
                //.width(300)
                //.height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function sexselect(){
        document.getElementById("personnel_sex").value=document.getElementById("sex").value;
    }

</script>


<!-- main container -->
<div class="content">

  <div class="container-fluid">
    <div id="pad-wrapper" class="new-user">
      <div class="row-fluid" style="margin-bottom: 20px;margin-top: -30px ">
        <h3>人员信息</h3>
      </div>
      <%= form_for(@personnel) do |f| %>
          <% if @personnel.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@personnel.errors.count, "error") %> prohibited this personnel from being saved:</h2>
                <ul>
                  <% @personnel.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
      <div class="row-fluid form-wrapper">
        <!-- left column -->
        <div class="with-sidebar">
          <div class="container">
            <div class="field-box1">
              <label><%= f.label :姓名 %></label>
              <%= f.text_field :name ,class:"span9"%>
            </div>
            <div class="field-box1">
              <label><%= f.label :性别 %></label>
              <%= f.hidden_field :sex,value:1%>
              <div class="ui-select span5">
                <select id="sex" class="form-control" type="text" onchange="sexselect()">
                  <option value="1">男</option>
                  <option value="2">女</option>
                </select>
              </div>
            </div>
            <div class="field-box">
              <label><%= f.label :生日 %></label>
              <%= f.date_select :birthday ,:class =>"form-control"%>
            </div>
            <div class="span12 field-box">
              <label><%= f.label :工作时间 %></label>
              <%= f.date_select :worktime%>
            </div>
            <div class="field-box2">
              <label> <%= f.label :专业 %></label>
      <%= f.text_field :professional ,class:"span9"%>
            </div>
            <div class="field-box2">
              <label><%= f.label :学历 %></label>
     <%= f.text_field :degree ,class:"span9" %>
            </div>

            <div class="field-box">
              <%= f.label :学校 %></label>
              <%= f.text_field :school ,class:"span9" %>
            </div>

            <div class="field-box">
              <label><%= f.label :职称 %></label>
              <%= f.text_field :protitle ,class:"span9" %>
            </div>
            <div class="field-box">
              <h3>附件：</h3>
            </div>
            <div class="field-box">
              <label> <%= f.label :毕业学校 %></label>
              <%= f.file_field :diploma ,:onchange => "readURL(this,'img1')" %>
              <%if !@personnel.diploma %>
                  <img style="margin-left: 110px" class="img1" width="200px" height="150px"  src=<%= @personnel.diploma.url%> />
              <%else%>
                  <img style="margin-left: 110px" class="img1" width="200px" height="150px"  src=<%=image_path('noimage.png')%> />
              <%end%>
            </div>
            <div class="span12 field-box">
              <label> <%= f.label :学历证 %></label>
              <%= f.file_field :acdegree ,:onchange => "readURL(this,'img2')"%>
              <%if !@personnel.acdegree%>
                  <img style="margin-left: 110px" class="img2" width="200px" height="150px"  src=<%= @personnel.acdegree.url%> />
              <%else%>
                  <img style="margin-left: 110px" class="img2" width="200px" height="150px"  src=<%= image_path('noimage.png')%> />
              <%end%>
            </div>
            <div class="span12 field-box">
              <%= f.label :资格证 %></label>
              <%= f.file_field :qualit ,:onchange => "readURL(this,'img3')" %>
              <%if !@personnel.qualit%>
                  <img style="margin-left: 110px" class="img3" width="200px" height="150px"  src=<%= @personnel.qualit.url%> />
              <%else%>
                  <img style="margin-left: 110px" class="img3" width="200px" height="150px"  src=<%= image_path('noimage.png')%> />
              <%end%>
            </div>
            <div class="span12 field-box">
              <%= f.label :身份证 %></label>
              <%= f.file_field :idcart  ,:onchange => "readURL(this,'img4')"%>
              <%if !@personnel.idcart%>
                  <img style="margin-left: 110px" class="img4" width="200px" height="150px"  src=<%= @personnel.idcart.url%> />
              <%else%>
                  <img style="margin-left: 110px" class="img4" width="200px" height="150px"  src=<%= image_path('noimage.png')%> />
              <%end%>
            </div>
            <div class="span12 field-box">
              <label> <%= f.label :安全证 %></label>
              <%= f.file_field :safecert ,:onchange => "readURL(this,'img5')"%>
              <%if !@personnel.safecert%>
                  <img style="margin-left: 110px" class="img5" width="200px" height="150px"  src=<%= @personnel.safecert.url%> />
              <%else%>
                  <img style="margin-left: 110px" class="img5" width="200px" height="150px"  src=<%= image_path('noimage.png')%> />
              <%end%>
            </div>
            <div class="span12 field-box">
              <label><%= f.label :公证材料 %></label>
              <%= f.file_field :notary ,:onchange => "readURL(this,'img6')"%>
              <%if !@personnel.notary%>
                  <img style="margin-left: 110px" class="img6" width="200px" height="150px"  src=<%= @personnel.notary.url%> />
              <%else%>
                  <img style="margin-left: 110px" class="img6" width="200px" height="150px"  src=<%= image_path('noimage.png')%> />
              <%end%>
            </div>
            <div class="span12 field-box">
              <label><%= f.label :其它 %></label>
              <%= f.text_area :other ,class:"span9" %>
            </div>
            <div class="span11 field-box actions">
              <div class="actions">
                <%= f.submit :"确定", class:"btn-glow primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
          <%end%>

