<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personnel.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @personnel.sex %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @personnel.birthday %>
</p>

<p>
  <strong>Worktime:</strong>
  <%= @personnel.worktime %>
</p>

<p>
  <strong>Professional:</strong>
  <%= @personnel.professional %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @personnel.degree %>
</p>

<p>
  <strong>School:</strong>
  <%= @personnel.school %>
</p>

<p>
  <strong>Protitle:</strong>
  <%= @personnel.protitle %>
</p>

<p>
  <strong>Diploma:</strong>
  <%= @personnel.diploma %>
</p>

<p>
  <strong>Acdegree:</strong>
  <%= @personnel.acdegree %>
</p>

<p>
  <strong>Qualit:</strong>
  <%= @personnel.qualit %>
</p>

<p>
  <strong>Idcart:</strong>
  <%= @personnel.idcart %>
</p>

<p>
  <strong>Safecert:</strong>
  <%= @personnel.safecert %>
</p>

<p>
  <strong>Notary:</strong>
  <%= @personnel.notary %>
</p>

<p>
  <strong>Other:</strong>
  <%= @personnel.other %>
</p>

<%= link_to 'Edit', edit_personnel_path(@personnel) %> |
<%= link_to 'Back', personnels_path %>
