<%=render 'head'%>
<%=render 'proleft'%>

<p id="notice"><%= notice %></p>
<!-- main container -->
<div class="content">

  <div class="container-fluid">
    <div id="pad-wrapper">

      <!-- products table-->
      <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
      <div class="table-wrapper products-table">
        <div class="row-fluid head">
          <div class="span12">
            <h4>业绩管理</h4>
          </div>
        </div>

        <div class="row-fluid filter-block" style="margin-top: 20px">
          <div class="pull-right" style="margin-bottom: -20px">
            <%=form_tag ({controller:"achievements",action:"index"}),method:"get"  %>
            <%= text_field_tag(:search)%>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= submit_tag "查找",class:"btn btn-primary-outline pull-right" %>

          </div>
        </div>
        <div class="row-fluid">
          <table class="table table-hover">
            <thead>
            <tr>
              <th class="span2">
                项目名称
              </th>
              <th class="span2">
                <span class="line"></span>工期
              </th>
              <th class="span2">
                <span class="line"></span>合同额
              </th>
              <th class="span3">
                <span class="line"></span>业主
              </th>
              <th class="span3">
                <span class="line"></span>项目简介
              </th>
              <th class="span3">
                <span class="line"></span>合同类型
              </th>
              <th class="span3">
                <span class="line"></span>国家
              </th>
              <th class="span3">
                <span class="line"></span>实施单位
              </th>
              <th class="span3">
                <span class="line"></span>项目类型
              </th>
              <th class="span3">
                <span class="line"></span>操作
              </th>
            </tr>
            </thead>
            <tbody>
            <!-- row -->
            <% @achievements.each do |achievement| %>
                <tr   class="first">
                  <td><%= achievement.projectitem %></td>
                  <td><%= achievement.time %></td>
                  <td><%= achievement.contractsum %></td>
                  <td><%= achievement.owner %></td>
                  <td><%= achievement.proabstract %></td>
                  <td><%= achievement.contractcla %></td>
                  <td><%= achievement.nation %></td>
                  <td><%= achievement.enexploit %></td>
                  <td><%= achievement.cla_id %></td>
                  <td width="100px" align="center"><%= link_to "", achievement,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
                    <%= link_to '', achievement, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= link_to ' 业绩录入', new_achievement_path, class: "icon-plus btn-flat success new-product pull-right",'data-no-turbolink'=>true,height:"30" %>
      <!-- end products table -->


    </div>
  </div>
</div>
