<p id="notice"><%= notice %></p>

<p>
  <strong>Projectitem:</strong>
  <%= @achievement.projectitem %>
</p>

<p>
  <strong>Time:</strong>
  <%= @achievement.time %>
</p>

<p>
  <strong>Contractsum:</strong>
  <%= @achievement.contractsum %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @achievement.owner %>
</p>

<p>
  <strong>Proabstract:</strong>
  <%= @achievement.proabstract %>
</p>

<p>
  <strong>Contractcla:</strong>
  <%= @achievement.contractcla %>
</p>

<p>
  <strong>Nation:</strong>
  <%= @achievement.nation %>
</p>

<p>
  <strong>Enexploit:</strong>
  <%= @achievement.enexploit %>
</p>

<p>
  <strong>Cla:</strong>
  <%= @achievement.cla_id %>
</p>

<p>
  <strong>Bidletter:</strong>
  <%= @achievement.bidletter %>
</p>

<p>
  <strong>Protocal:</strong>
  <%= @achievement.protocal %>
</p>

<p>
  <strong>Completcert:</strong>
  <%= @achievement.completcert %>
</p>

<p>
  <strong>Owncert:</strong>
  <%= @achievement.owncert %>
</p>

<p>
  <strong>Receport:</strong>
  <%= @achievement.receport %>
</p>

<p>
  <strong>Consortium:</strong>
  <%= @achievement.consortium %>
</p>

<p>
  <strong>Image:</strong>
  <%= @achievement.image %>
</p>

<p>
  <strong>Other:</strong>
  <%= @achievement.other %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
